/* your custom css */

html,
body {
  font-family: $bodyFont;
}

code {
  font-family: $codeFont;
}

p a {
  position: relative;
  font-weight: 500;
}

p a:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: -2px;
  right: -2px;
  height: 20%;
  background-color: #aaa1c8;
  opacity: 0.3;
  z-index: -1;
}

p a:hover:before {
  opacity: 0.6;
}

.container.flex .wrapper {
  display: flex;
}

.container.flex .wrapper .gridBlock {
  width: 50%;
}

.example-iframe {
  width: 50%;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
  .container.flex .wrapper {
    display: block;
  }

  .container.flex .wrapper .gridBlock {
    width: 100%;
  }

  .example-iframe {
    width: 100%;
  }
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
